---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { Picture } from "astro:assets";
import Container from "../components/Container.astro";
import TableOfContents from "../components/TableOfContents.astro";
import type { MarkdownHeading } from "astro";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  post: CollectionEntry<"blog">;
  headings: MarkdownHeading[];
  readingTime: string;
}

const { post, headings, readingTime } = Astro.props;
const { title, description, pubDate, updatedDate, heroImage } = post.data;
---

<BaseLayout
  title={title}
  description={description || title}
  image={heroImage?.src}
>
  <Container>
    <div class="max-w-screen-md mx-auto">
      <h1
        class="mt-2 mb-3 text-3xl font-semibold tracking-tight text-center lg:leading-snug text-brand-primary lg:text-4xl dark:text-white"
      >
        {title}
      </h1>

      <div class="flex justify-center mt-3 space-x-3 text-gray-500">
        <div class="flex items-center gap-3">
          <div>
            <div class="flex items-center space-x-2 text-sm">
              <FormattedDate date={pubDate} />
            </div>
            <div class="flex items-center space-x-2 text-sm">
              {readingTime}
            </div>
          </div>
        </div>
      </div>
    </div>
  </Container>

  {
    heroImage && (
      <div class="relative z-0 max-w-screen-lg mx-auto overflow-hidden lg:rounded-lg aspect-video">
        <Picture
          src={heroImage}
          widths={[400, 800, 1600]}
          alt="Thumbnail"
          loading="eager"
          class="w-full"
          layout="full-width"
        />
      </div>
    )
  }
  <Container>
    <div class="md:flex">
      <article
        class="mx-auto my-3 prose prose-base prose-code:before:hidden prose-code:after:hidden dark:prose-invert prose-a:text-blue-600"
      >
        <!-- actual content in the slot -->
        <slot />
      </article>
      <aside>
        <div class="pl-2 sticky top-20 max-sm:hidden">
          <TableOfContents headings={headings} levels={3} />
        </div>
      </aside>
    </div>
  </Container>
</BaseLayout>
